<div>
 <div id="coder-button" ng-click="writeCode()"></div>
 <h2 id="workers">Workers</h2>
 <div id="money">Monies:{{Math.floor(money)}}</div><br>
 <div id="upgrades">
	<div><button id="upgrade-multi-2" ng-click="upgrade(100, 1)">$100: 2x Monies</div>
	<div><button id="upgrade-multi-4" ng-click="upgrade(1000,2)">$1,000: 4x Monies</div>
	<div><button id="upgrade-multi-8" ng-click="upgrade(10000, 3)">$10,000: 8x Monies</div>
	<div><button id="upgrade-multi-16" ng-click="upgrade(100000,4)">$100,000: 16x Monies</div>
	<div><button id="upgrade-multi-32" ng-click="upgrade(1000000, 5)">$1,000,000: 32x Monies</div>
	<div><button id="upgrade-multi-64" ng-click="upgrade(10000000,6)">$10,000,000: 64x Monies</div>
 </div>
 <div id ="footer">
  <p> All the witty code crap goes here!</p>
 </div>
</div>
<!--<div id="search">

	<input id="search-field" placeholder = "Search for a movie..." ng-model = "searchQuery">
	<button id ="search-button" ng-click="searchMovies()">Search</button>
	<button id="new-movie-button" ng-click="addMovie()">New Movie</button>
</div>

<div id="movie-list">
	<div class='movie' ng-repeat="movie in data.movies" ng-click="displayMovie(movie)">
		<div>{{movie.name}}</div>
	</div>
</div>

<div id="right-side">
	<div id="movie-details" ng-hide="addingMovie">
		<div id="movie-title">
			{{data.displayMovie.name}}
		</div>
		<div id="movie-releaseDate">
			{{data.displayMovie.release_date}}
		</div>
		<div id="movie-rating">
			{{data.displayMovie.rating}}
		</div>
	</div>
</div>

<div id="create-movie">
	<form id="movie-form">
		<label>Title:</label>
		<input type="text" ng-model="data.newMovie.name">
		<label>Rating:</label>
		<input type="text" ng-model="data.newMovie.rating">
		<label>Release Date:</label>
		<input type="text" ng-model="data.newMovie.release_date">
		<label>Poster URL:</label>
		<input type="text" ng-model="data.newMovie.poster_url">
	</form>
	<button id="create-movie-button" ng-click="createMovie()">Create Movie</button>
</div> !-->
